/* Atoms */

@import "_variables";

* {
  margin: 0;
  padding: 0;
  color: $primary2;
  box-sizing: border-box;
}

@font-face {
  font-family: $fonts-min;
  src: $font-biggruns;
}

p,
a {
  color: $primary2;
  font-family: $fonts-body2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
  font-family: $fonts-body;
  font-size: 25px;
}

@mixin zengard_translateY($val) {
  transform: translateY($val);
}

@mixin uppercase() {
  text-transform: uppercase;
}

// // Divider
// .divider {
//   border-bottom: 1px solid $primary2; // Assuming $primary2 is defined with the desired color
//   margin-bottom: 2px;
// }

/* Rest of the atom styles */
@media screen and (min-width: 1400px) {
  #zen-supporting {
    left: 40vw;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    height: 225px;
    overflow: scroll;
    width: 100%;
    top: 5%;
    margin: 0;
    padding: 20px;
    border: 1px solid $primary;
    z-index: 0;
    box-shadow: 0px -10px 74px 31px rgba(83, 253, 255, 0.35);
  }

  .sidebar {
    height: 280px;
    overflow: scroll;
    left: 0;
    top: 530px;
    width: 100%;
    margin: 0;
    padding: 20px 20px 20px 40px;
    border: 1px solid $primary;
    box-shadow: 0px -10px 50px 15px rgba(83, 253, 255, 0.35);
  }

  #zen-supporting {
    position: absolute;
    top: 265px;
    left: 5px;
    height: 225px;
    overflow: hidden;
    overflow-y: scroll;
    animation: none;
  }

  #zen-supporting div,
  #zen-supporting footer {
    background: none;
    height: auto;
    width: auto;
    overflow: visible;
    overflow-y: visible;
    position: relative;
    box-shadow: none;
    transition: all 0.3s ease-out;
    padding: 15px;
    text-align: left;
  }

  #zen-supporting div:hover,
  #zen-supporting footer:hover {
    box-shadow: none;
    width: inherit;
    height: auto;
    padding: 15px;
    text-align: left;
  }

  #zen-participation,
  #zen-explanation,
  #zen-benefits,
  #zen-requirements,
  footer {
    transform: none;
  }

  #zen-participation:hover,
  #zen-explanation:hover,
  #zen-benefits:hover,
  #zen-requirements:hover,
  footer:hover {
    transform: none;
  }

  .extra6 {
    width: 70px;
    height: 35px;
    position: absolute;
    right: 0;
    border-radius: 0px 0px 0px 5px;
  }
}
