@import '_variables';
@import '_atoms';

[role="banner"] {
  > h1 {
    @include uppercase();
    color: $text-light;
  }
}

.summary {
  @include uppercase();
  padding: 15% 0;

  p:last-child {
    @include uppercase();
  }

  a {
    color: $text-light;
  }
}

.preamble {
  color: $text-dark;
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
}

.intro {
  margin: 20px;
  width: 26vw;
  position: absolute;
  top: 10vh;
  z-index: 11;
}

.extra1 {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 290px;
  height: 50px;
}

.extra2 {
  top: 0;
  left: 270px;
  position: absolute;
  width: 800px;
  height: 700px;
}

.extra3 {
  height: 2px;
  width: 50px;
  background: $primary;
  margin-top: 25em;
  position: absolute;
  z-index: -10;
  animation: pulseLeft .95s infinite;
}

.extra4 {
  height: 2px;
  width: 50px;
  background: $primary;
  margin-top: 14.5em;
  right: 0;
  position: absolute;
  z-index: 0;
  animation: transExtra 7s infinite;
}

.extra5 {
  height: 2px;
  width: 50px;
  background: $primary;
  margin-top: 17.5em;
  right: 0;
  position: absolute;
  z-index: 0;
  animation: transExtra 2s infinite;
}

.extra6 {
  background: $logo;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  border-radius: 0px 0px 0px 5px;
}

/* Molecule: Zen */
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(0);
}

#zen-explanation:hover,
#zen-participation:hover,
#zen-benefits:hover,
#zen-requirements:hover {
  transform: translateY(0) rotateX(20deg) rotateZ(0deg) translateZ(0) $zenScale;
}

#zen-explanation {
  z-index: 10;
}

#zen-participation {
  transform: translateZ(250px);
  z-index: 9;
}

#zen-benefits {
  transform: translateZ(500px);
  z-index: 8;
}

#zen-requirements {
  transform: translateZ(750px);
  z-index: 7;
}
