.intro {
  padding: 5%;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
}
// .intro {
//   @include $header-uppercase;
//   font-size: 28px;
//   font-weight: bold;
//   margin: 20px 0;
// }
