$background-color: #0b3d91;
$primary: #31a6ff;
$primary2: #ffffff;
$text-dark: #333;
$text-light: #666;
$zenScale: scale(1.2);
$fonts-min: 'Bigruns';
$fonts-body: "Bigruns", sans-serif;
$fonts-body2: "Electrolize", sans-serif;

$bgimage: url(../assets/zen.png);
$logo: url(../assets/logo.png);
$font-biggruns: url("../Bigruns.otf");
