@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@use "_variables" as *; //this puts all the variables in the global namespace.
@use '_atoms';
@use '_molecules';
@use '_organisms';


* {
  box-sizing: border-box;
}
html {
  background-color: $contrast-color;
  padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $contrast-color;
  margin: 0;
  padding: 1em;
}
